@media (max-width: 1206px) {}

@media (max-width: 1150px) {

    .button-header {
        display: none;
    }

    .nav-header {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .container {
        width: 960px;
    }

    .biography p {
        font-size: 15px;
    }

    .Viezh {
        font-size: unset;
        line-height: unset;
    }

    .img-changer {
        background-size: cover;
        width: 100%;
    }

    .col-6 {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 960px) {

    .container {
        width: 770px;
    }

    .col-5{
        width: 100%;
    }

    .col-7{
        width: 100%;
    }

    .div-vector{
        
    }
}